<h1>This is the admin login section!</h1>
<form action="/admin/login" method="POST">
    <label>Email</label>
    <input type="email" name="email">
    <br><br>
    <label>Password</label>
    <input type="password" name="password">
    <br><br>
    <button type="submit">Login</button>
</form>