<!DOCTYPE html>
<html>
    <head>
      <title>login page</title>
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
      <link type="text/css" rel="stylesheet" href="a.css">
    </head>
    <body>
       <div class="container">
          <h2 align="center">User login </h2>
  
  <form action="login.js" >
    <div class="form-group">
      <label for="uname">Email Id:</label>
      <input type="email" class="form-control" id="eid" placeholder="Enter Email"  required>
          </div>
    <div class="form-group">
      <label for="pwd">Password:</label>
      <input type="password" class="form-control" id="pwd" placeholder="Enter password" required>
      
     </div>
    <div>
       <label class="form-check-label"> 
        <input type="checkbox" class="form-check-input mb-2 mr-sm-2 " name="remember"> Remember me
      </label>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
    <button type="submit" class="btn btn-primary">Forgot Password</button>
  </form>
       </div>
    </body>
    </html>
    