<%- include('../includes/start') %>
<%- include('../includes/headBody') %>

<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css">
<link href="https://fonts.googleapis.com/css?family=Roboto:300,400|Roboto+Slab:100,300,400" rel="stylesheet">

<title>studyBuddy</title>
</head>

<body style="margin: 0">
    <%- include('../includes/navbar') %>
    <section id="headerSection">
        <div id="particles-js"></div>
        <div class="container">
            <div class="row">
                <div class="col-lg-7 col-md-12 text-lg-left text-center"
                    style=" padding: 0 10px; color: white; margin-top: 10vw">
                    <h1 style="font-weight: 100; font-size: 3.5rem; font-family: 'Roboto Slab'">Online Community of
                        <span style="font-weight: 400"> Students & Teachers </span></h1><br>
                    <p>This is the place of our description.</p><br>
                    <button class="btn btn-lg btn-outline-light mr-lg-3">SIGNUP</button>
                    <button class="btn btn-lg btn-light">LOGIN</button>
                </div>
                <div class="col-lg-5 col-md-12" style="padding: 15% 50px 0 ">
                    <div class="container formContainer"
                        style="background-color: white; padding: 25px; border-radius: 5px; box-shadow: 0 0 20px">
                        <form action="/section-entry" method="POST">
                            <div class="form-group">
                                <select name="sem" class="custom-select" id="subject" style="border-width: 2px"
                                    required>
                                    <option value="">Semester</option>
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                    <option value="4">4</option>
                                    <option value="5">5</option>
                                    <option value="6">6</option>
                                    <option value="7">7</option>
                                    <option value="8">8</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <select name="branch" class="custom-select" id="subject" style="border-width: 2px"
                                    required>
                                    <option value="">Branch</option>
                                    <option value="CS">Computer Engineering</option>
                                    <option value="IT">Information Technology</option>
                                    <option value="EC">Electronics and
                                        Communication Engineering</option>
                                    <option value="EE">Electrical Engineering</option>
                                    <option value="CE">Civil Engineering</option>
                                    <option value="ME">Mechanical Engineering</option>
                                    <option value="PI">Production and Industrial
                                        Engineering</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <select name="sectionNumber" class="custom-select" id="subject"
                                    style="border-width: 2px" required>
                                    <option value="">Section Number</option>
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                    <option value="4">4</option>
                                    <option value="5">5</option>
                                    <option value="6">6</option>
                                </select>
                            </div>
                            <input type="submit" name="submit" value="Submit" class="btn themeColorHoverBtn btn-block">
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <%- include('../includes/end') %>